<div data-ng-controller="InputController">

    <dl>
        <dt>
            Saldo
        </dt>
        <dd>
            {{availableAmount}}
        </dd>

        <dt>
            Spenderen
        </dt>
        <dd>
            <input type="number" data-ng-model="spendingAmount" />
        </dd>
    </dl>

    <p>
        U wilt spenderen: {{spendingAmount}} van {{availableAmount}}
    </p>
    <button type="button" ng-click="createAdvice()">Bereken</button>

    <div data-ng-include="'views/advice.html'"></div>

</div>
